[submodule "/public"]
	path = public
	url = https://github.com/geraldohomero/geraldohomero.github.io
	branch = main
[submodule "/public1"]
	path = /public1
	url = https://github.com/geraldohomero/geraldohomero.github.io
	branch = main
